<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.razon30.totalmovie"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.NETWORK"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/a_movie"
        android:label="ToTaL MoViE"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider505284192967672"
            android:exported="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Movie_Details"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails1">
        </activity>
        <activity
            android:name=".Person_Details"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails1">
        </activity>
        <activity
            android:name=".Search_List_Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Multi_Search_Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Splash_Activity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBaSplash">
        </activity>
        <activity
            android:name=".IMDB_Movie_Details_Top_Bottom"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails1">
        </activity>
        <activity
            android:name=".Credit"
            android:label="@string/title_activity_credit"
            android:theme="@style/MyCustomToolBarMovieDetails">
        </activity>
        <activity
            android:name="com.etiennelawlor.imagegallery.library.activities.ImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/ImageGalleryTheme"/>
    </application>

</manifest>
