<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.razon30.totalmovie"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/movie_icon"
        android:label="ToTaL MoViE"
        android:theme="@style/AppTheme">


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider505284192967672"
            android:exported="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Movie_Details"
            android:icon="@drawable/a_movie"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails">
        </activity>
        <activity
            android:name=".Person_Details"
            android:icon="@drawable/a_movie"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBarMovieDetails">
        </activity>
        <activity
            android:name=".Search_List_Activity"
            android:icon="@drawable/a_movie"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Multi_Search_Activity"
            android:icon="@drawable/a_movie"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Splash_Activity"
            android:icon="@drawable/a_movie"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyCustomToolBaSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IMDB_Movie_Details_Top_Bottom"
            android:icon="@drawable/a_movie"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>
